.JobPanel {
    padding: 4.5rem 3rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    .job-list {
        margin-top: 1.5rem;
        padding: 2rem 1rem;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .add-job {
        min-width: 282px;
        min-height: 150px;
        padding: 1rem;
        border-radius: 8px;
        border: 2px dashed #208e58;
    }
}
