.Home{

    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    text-align: center;
    width: 100%;
    padding: 2rem 0;
    
    .callToActionApp{
      padding: 2rem 0;
    }
    
    h1{
        line-height: 0 !important;
        color: #32DE8A;
      }
      h4{
        line-height: 0;
        color: #A2E8DD;
      }
      img{
        width: 150px;
        border-radius: 20px;;
      }

     
}