.UserHome{
    width: 100vw;
    margin: 0 auto; 
    text-align: center;
    padding: 2rem 0;  

    
}

.ant-modal-content, .ant-modal-header{
     background-color: #242424 !important;
    min-width: auto;
}
