.EditableJob {
    .editable-job-info {
        display: flex;
        flex-direction: column;
        justify-content: start;

        input {
            margin: 0;
            padding: 0;
            border: none;
            outline: none;
            background-color: inherit;
        }

        .ant-row,
        .ant-form-item,
        .ant-form-item-row,
        .ant-form-item,
        .ant-form-item-control,
        .ant-form-item-control-input {
            justify-content: start !important;
            align-items: start !important;
            margin: 0 !important;
            line-height: 0 !important;
            padding: 0 !important;
            line-height: 0 !important;
            min-height: auto !important;
        }

        .positionInput {
            font-size: 1.4rem;
            font-weight: 800;
            line-height: 0rem;
            margin: 0;
            padding: 0;
        }

        .companyNameInput {
            font-size: 0.95rem;
            font-weight: 600;
            padding: 0;
            margin: 0;
            line-height: 0;
            color: black;
        }
    }

    .editable-job-status-date {
        display: flex;
        flex-direction: column;
        min-height: 200px;
    }

    .editable-job-status-date .ant-select-selector {
        background-color: inherit !important;
        border: none !important;
        outline: none !important;
        margin-top: 4rem;
        line-height: 3rem;
    }

    .ant-select-selector span {
        font-size: 2.5rem;
        text-align: center;
        font-weight: 200;
    }
    .ant-select-selection-item {
        line-height: 3rem;
        height: 3rem;
    }

    .editable-job-status-date .date {
        margin-top: auto;
        align-self: flex-end;
        font-weight: 600;
    }
  
}
