.JobRequirements {
    display: flex;
    flex-direction: column;

    .saveButton {
        border: none;
        background-color: transparent;
        outline: none;
        box-shadow: none;
        transform: scale(1.5);
        align-self: flex-end;
    }

    .jobRequirementsList {
        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: start;

            li {
                border-radius: 10px;
                list-style: none;
                text-decoration: none;
                width: 100%;
                transition: all 0.4s;
                padding: 0.5rem 1rem;
                .requirementName {
                    align-self: center;
                    color: black;
                    font-weight: 600;
                    padding-right: 0.5rem;
                }
                .requirementValue {
                    font-weight: 800;
                }
            }
            li:hover {
                background-color: #e0e4e2;
                opacity: 0.5;
                color: black;
                transition: 0.5s all;
            }
        }
    }
    .jobRequirementsForm {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.5rem;

        .inputFieldContainer {
            display: grid;
            grid-template-columns: 1fr 30px 30px;
        }

        button {
            padding: 0;
            background-color: transparent;
            border: none;
            outline: none;
            box-shadow: none;
            transform: scale(1.5);
        }
    }
}
