.JobRequirements {
    display: flex;
    flex-direction: column;

    .reloadButton {
        align-self: flex-end;
        cursor: pointer;
    }

    .saveButton {
        border: none;
        background-color: transparent;
        outline: none;
        box-shadow: none;
        transform: scale(1.5);
        align-self: flex-end;
    }

    .jobRequirementsList {
        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: start;
            margin: 0;

            .requirementItem {
                border-radius: 10px;
                list-style: none;
                text-decoration: none;
                width: 100%;
                transition: all 0.4s;
                padding: 0.3rem 1rem;

                svg {
                    transition: 0.5s all;
                }
                svg:hover {
                    fill: red;
                    transition: 0.5s all;
                }

                .requirementName {
                    align-self: center;
                    color: black;
                    font-weight: 600;
                }
                .requirementValue {
                    font-weight: 800;
                    padding-left: 0.5rem;
                }
            }
            .requirementItem:hover {
                background-color: #e0e4e2;
                opacity: 0.5;
                color: black;
                transition: 0.5s all;
            }

            .addRequirementItem {
                list-style: none !important;
                padding: 0rem 1rem;
                cursor: pointer;
                transition: 0.5s all;

                span {
                    font-size: 800;
                    padding-right: 0.35rem;
                }
            }
            .addRequirementItem:hover {
                color: black;
            }
        }
    }
    .jobRequirementsForm {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.5rem;

        .inputFieldContainer {
            display: grid;
            grid-template-columns: 1fr 30px 30px;
        }

        button {
            padding: 0;
            background-color: transparent;
            border: none;
            outline: none;
            box-shadow: none;
            transform: scale(1.5);
        }
    }
}
